*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)50%), url(1.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin-top: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: #ff7200;
    font-size: 35px;
    font-family: Arial;
    padding-left: 28px;
    float: left;
    padding-top: 19px;
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #ff7200
}

.content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%, rgba(0,0,0,0.8)50%);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 600px; /* 设置容器高度 */
    overflow-y: auto; /* 设置垂直方向上的溢出滚动 */
}

.create-btn {
    padding: 10px 20px;
    background-color: #ff7200;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.create-btn:hover {
    background-color: #e66000;
}

#portfolio-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.8); /* 黑色底，添加透明度 */
    color: #fff; /* 设置文字颜色为白色 */
}

#portfolio-table th, #portfolio-table td {
    border: 1px solid #ff7200;
    padding: 15px;
    text-align: left;
}

#portfolio-table tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.08); /* 更深的背景色，加透明度 */
}

/* 新增样式 */
#portfolio-table td strong {
    font-weight: bold;
}
